{%extends "layout.html"%}
<head>
    <title>Log in|DatFile</title>
</head>
<div class ="section">

    {% block content %}
<div class = "form">
{% if form.errors %}
  <p>Похоже не тот логин или пароль</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p></p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

  Введите никнейм
  {{ form.username }}

Введите пароль
{{ form.password }}

<input type="submit" value="Зарегестрироваться" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'tapes:register' %}" >Зарегестрироваться</a></p>

{% endblock %}
