{% extends "layout.html" %}
    {% block content %}
    <head>
        <title>MainPage|DatFile</title>
    </head>
    <div class ="section_news">
        {% if post%}
        {%for obj in post%}
            <a href="/list/{{obj.id}}" class = "t">
                <div class = "news-post">
                    <img src="{{obj.image.url}}" alt="photo" class="obj-photo">
                    <p><div class = "obj-title"><h1>{{obj.title}}</h1></div></p>
                    <p><div class = "obj-data">{{obj.data|date:"j.n.y"}}</div></p>
                    <p><h3><div class = "obj-creator">{{obj.user}}</div></h3></p>
                </div>
            </a>
        {%endfor%}
        {%else%}
            новостей нет
        {%endif%}
    </div>
{% endblock %}