{% extends "layout.html" %}
    {% block content  %}
    <head>
        <title>MainPage|{{post.title}}</title>
    </head>
    <div class ="section">
        <div class="title"><h1>{{post.title}}</h1></div>
        <img src="{{post.image.url}}" class="main-img" alt="картинка под тему">
        <div class="main-text">
            <h2 >
                {{post.text|safe|linebreaks }}
            </h2>
        </div>
        <div class="comments">
            <div class = "comment-block">
                <div class = "comment-form">
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <p>текст комментария</p>
                        <p><textarea required type="text" name="text" class = "form-comment-text"></textarea></p>
                        <input type="submit" value="Оставить комментарий" class = "form-comment-button">
                    </form>
                    {%endif%}
                </div>
                <div class = "comment-list">
                    {%for obj in comment%}
                    {%if obj.post == post%}
                    <p class = "nickname">{{obj.nickname}}</p>
                    <p class = "text">{{obj.text|linebreaks}}</p>
                    <p class = "date">оставлено:&nbsp;&nbsp;&nbsp;{{obj.date|date:"j.n.y"}}</p>
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}