{% extends "layout.html" %}
{% block content  %}
<head>
    <title>DatFile|R%egistration</title>
</head>
    <div class ="section">
        {% if form.errors %} 
        <div class="alert alert-danger">
           <strong>вам следует выполнить требования к паролю либо подобрать другой никнейм</strong>
        </div>
      {% endif %}
        <div class = "form">
        <form method="post" action="">
         {% csrf_token %}
        
      
          
            Введите никнейм
            {{ form.username }} 
          
      
         
          Введите пароль
          {{ form.password1 }} 
          Подтвердите пароль 
          {{ form.password2 }} 
       
      
      
      
      <input type="submit" value="Зарегестрироваться" />
      <p>пароль не должен быть короче 8 символов</p>
      <p>пароль не должен быть похож на никнейм</p>
      <p>пароль не должен состоять только из цифр</p>
      <p>пароль не должен быть слишком простым</p>
      <p>пароли должны совпадать</p>
      </form>
    </div>
    </div>
{% endblock %}